:root{
--color-primary:rgb(9, 196, 171);
}


*{
box-sizing: border-box;
}

body{
margin: 0;
background-color: white;
font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 100vh;
    background-image:linear-gradient(rgba(8, 220, 192, 0.9)
    ,rgba(10, 32, 235, 0.527)), 
    url(../images/background-home.jpg);
    background-size: cover;
}
.container-menu{
    display: flex;
    justify-content: space-between;
    }
    
    .logo{
        color: white;
        font-family: 'Righteous', cursive;
        font-size:30px; 
    }

    
    nav{
    display: flex;
    align-items: center;
    }
    
    nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    }
    
    nav ul li{
        margin-left: 40px;
        color: #fff;
        font-weight: 500;
        font-size: 19px;
    }
    
    .container-title{
    margin: 23vh 0;
    display:flex;
    justify-content: center;
    color: white;
    text-align: center;
    }
    
    .container-title h1{
    font-size: 50px;
    margin: 0;
    
    }
    .container-title h2{
        font-size: 28px;
        padding-bottom: 20px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    .btn-primary{ 
        font-size: 20px;
        width: 200px;
        text-decoration: none;
        background-color: var(--color-primary);
        padding: .5em .7em;
        border-radius: 5px;
        color: white;
        box-shadow: 4px 6px 14px -7px #111a0e;
    }
    .btn-primary:active {
        position:relative;
        top:1px;
    }
    
    #about h1{
        text-align: center;
        font-size: 2.8em;
        
        }
        #about img{
        width: 378px;
        }
        
        .contain{
        display: flex;
        justify-content: space-around;
        }
        .about-text{
            width: 42%;
            line-height: 30px;
        
        }
        .about-text .btn-primary{
            display: block;
            margin: 50px auto;
        }
        #services h3{
            text-align: center;
            font-size: 2.8em;
        }
        
        .container-services .violet{
        background-image: linear-gradient(to top, #0b6075,#1076d6);
        box-shadow: 0 12px 30px 0 rgba(80,85,223,.37);
        
        }
        .container-services .blue{
            background-image: linear-gradient(to top, #141655,#0f254e);
            box-shadow: 0 12px 30px 0 rgba(17, 24, 235, 0.37);
        }
        .container-services{
            display: flex;
            flex-wrap: wrap;
            color: white;
            justify-content: space-around;
        }
        
        .container-services .services{
            padding: 34px 30px 38px 30px;
            border-radius: 10px;
            width: 29%;
            margin-bottom: 40px;
            margin-left: 30px;
            position: relative;
        
        }
        
        .container-services h4{
        font-size: 28px;
        margin: 0;
        }
        .container-services p{
            opacity: .8;
            margin: 0; 
            margin-top: 20px;
            height: 206px;
            }
        .container-services .icon{
            margin-top: 5px;
            float:right;
            position: relative;
            
        }
        .container-services .waves{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
        }
        #works h3{
            text-align: center;
            font-size: 2.8em;}
.owl-theme .owl-dots{
    display: none;
}

.work.item p{
text-align: center;
font-size: 1.5em;

}
    .owl-theme .owl-nav {
        margin-top: 0px!important;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        
       font-size: 5em!important;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot { 
        margin: 0 14px!important;
    }
    .owl-theme .owl-nav [class*=owl-]:hover {
        background: #ffffff!important;
        color: #000!important;
      text-decoration: none!important;
    }
    